<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>


   <h2> Basketball Team! </h2> 
    Team Name:<%= @name %>
     Coach:<%= @coach %>
     Point Guard:<%= @pg %>
     Shooting Guard:<%= @sg %>
     Small Forward:<%= @pf %>
     Center:<%= @center %>
 </body>
</html>
